
/* materialize css padding overdrive tab */
.tabs .tab{
  margin-left: 10px !important;
}

#nav-brand-logo{
  margin-left: 10px;
}

#dataText{
  /*
  fix fix fix fix fix
  display: inline;
  */
}
/*top nav*/

ul.tabs.tabs-transparent{
  overflow: visible !important;
}

.dropdown-content li a{
  color: #fff !important
}


.side-nav,
.onclick,
nav{
  /*background-image: url('american-public-power-association-430868.jpg');
  background-repeat: no-repeat;

  background-position: center;
  background-size: 100%;*/
  background-color: #795548 !important;
}

/* obsolote wont work
.btn{
  left: 400px !important;
}
*/

/*materializecss stock css overdrive */
.btn,
.btn-large,
.dropdown-content{
  background-color: #8d6e63 !important;
}

#date{

}
#canvas-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.show-after-data-load {
    display: none;
}

/* mobile nav starts */
.brand-logo{
  width: fit-content;
}
#navmobiledata{
  height: fit-content;
}

/*
#Aboutbutton {
    float: right;
    padding-top: 50px;
    padding-right: 305px;
    text-align: bottom;


    font-size: 50px;
    font-family: "bold" ,Times;
    color: yellow;
}
#Aboutbutton:hover {
  color :red;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
*/

/* color sheetit
#efebe9 brown lighten-5
#d7ccc8 brown lighten-4
#bcaaa4 brown lighten-3
#a1887f brown lighten-2     use2
#8d6e63 brown lighten-1
#795548 brown               use1
#6d4c41 brown darken-1
#5d4037 brown darken-2
#4e342e brown darken-3
#3e2723 brown darken-4
*/
